.table{
	margin-top: 10px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
}
.table th {
    text-align: center;
    color: #ffffff;   
    background-color: #46ABE6; 
}
.table td {
    text-align: center;
}
.table-striped>tbody>tr:nth-of-type(even){background-color:#E9F1F6}


thead  tr {
    display: block;
}
               
tbody {
    display: block;
    padding:10px;
    border-bottom:solid 1px;
    border-color:grey;
}

thead th {
    width: 210px;
    height:40px;
}

thead th + th {
    width: 162px;
}

thead th + th + th {
    width: 140px;
}
thead th + th + th +th{
    width: 135px;
}

tbody td {
    width: 160px;
    height:40px;
}

tbody td + td {
    width: 192px;
        height:40px;
}

tbody td + td + td {
    width: 140px;
        height:40px;
}