.table{
	margin-top: 10px;
	margin-bottom: 0px;
	margin-left: auto;
		margin-right: auto;

	width: 95%;
}
.table th {
    text-align: center;
    color: #ffffff;   
    background-color: #46ABE6; 
}
.table td {
    text-align: center;
    max-width:1000px;
}
.table-striped>tbody>tr:nth-of-type(even){background-color:#E9F1F6}

table {
    width: 756px;
    height:360px;
}

thead  tr {
    display: block;
}
               
tbody {
    display: block;
    height: 260px;
    overflow: scroll;
}

thead th {
    width: 520px;
    height:40px;
}

thead th + th {
    width: 240px;
}

thead th + th + th {
    width: 240px;
}

tbody td {
    width: 530px;
    height:40px;
}

tbody td + td {
    width: 250px;
        height:40px;
}

tbody td + td + td {
    width: 220px;
        height:40px;
}